@charset "UTF-8";
/* CSS Document */

#gridcontainer {
    background: white;
	border:2px solid silver;
    padding: 20px;
    text-align: center;
}

#grid{
	padding:0;
	margin:0;
}
#grid li {
  border: 4px solid #333333;
  display: inline-block;
  width:  200px;
  height: 133px;
  margin: 10px;
  background-color: #abe2ff;
  list-style:none;
}

#grid li:hover {
	border-color:#39F;
	}

.caption { 

	font-family: proxima-nova,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
	color: black;
	display:block;
	background-color:silver;

		}